# Python
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv
venv

# Git
.git

# Editor
.vscode
.idea

# Logs
*.log

# Mac
.DS_Store

# Environment
*.env

# Node
node_modules

# Python build artifacts
build/
dist/
*.egg-info/

# Cloud
.cloudbuild
